
* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
/* PC */
section { width: 1920px; height: 1080px; position:relative; overflow-y: hidden; overflow-x: hidden; } 
#mainvideo{position: relative;}
#blur{ position: absolute; width: 1920px; height: 200px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)); bottom: 0; }
#bold{font-weight: 700;}

.page1 { display: flex; justify-content: center; overflow-y: hidden; } 
.page1 img { position: absolute; top: 420px; } 
.page1 p { font-size: 30px; color: white; } 
.Left1 { width: 440px; height: 380px; text-align: right; padding: 0px 50px; line-height: 45px;} 
.Right1 { width: 440px; height: 380px; text-align: left; padding: 0px 50px; line-height: 45px;} 
.TextBox1 { display: flex; position: absolute; bottom: 0px;font-weight: 300; } 
.page1 { display: flex; justify-content: center; overflow-y: hidden; } 

.page2 {height: 1500px; display: flex; justify-content: center; overflow-y: hidden; position: relative;} 
.page2 p { color: white; } 

.Left2 { width: 460px; height: 380px; padding: 0px 50px; display: flex; justify-content: flex-end; align-items: center; font-size: 60px;color: white; } 
.Right2 { width: 460px; height: 420px; display: flex; justify-content: flex-start; align-items: center; padding: 0px 50px; font-size: 30px;} 
#study{font-size: 20px; position: absolute; bottom:100px;}
#study2{font-size: 20px; position: absolute; padding-top: 130px;}
.TextBox2 { display: flex; position: absolute; top: 40px; } 

.Left3 { width: 440px; height: 380px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; font-size: 60px;} 
.Right3 { width: 440px; height: 380px; display: flex; justify-content: flex-start; align-items: center; padding: 50px;font-size: 20px;} 
.TextBox3 { display: flex; position: absolute; top: 340px; } 


.Left4 { width: 440px; height: 380px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; font-size: 30px;} 
.Right4 { width: 450px; height: 380px; display: flex; justify-content: flex-start; align-items: center; padding: 25px 50px;font-size: 25px; } 
.TextBox4 { display: flex; position: absolute; top: 600px; } 

#bold1{font-weight: 700; position: absolute; left: 220px; color: white; font-size: 40px;}
.stackpage{width: 1920px; height: 1680px; position: relative;}
.STack{height: 540px;display: flex; position: absolute; left: 220px;font-size: 40px;color: white;}
.STackLeft{width: 700px; height: 480px; font-size: 40px; line-height: 45px;position: relative;padding-top: 100px;}
.stackOne{display: flex; padding-top: 100px;}
.stackOne img{width: 300px; height: 172px;}
.stacktext{ padding-left: 50px;width: 400px;padding-top: 20px;  font-size: 18px; line-height: 45px;}

.STackLeft-2 { width: 700px; height: 480px; font-size: 20px; line-height: 45px; position: absolute; left:220px ; top: 885px;} 
.stackTwo{display: flex;}
.stackTwo img{width: 280px;}
.stacktext_2{ padding-left: 50px; padding-top: 50px;width: 500px; font-size: 18px; line-height: 45px;}
/* #sub{font-size: 15px;} */
#list{font-size: 15px; line-height: 45px; padding-top: 40px;}

.STackRight { width:630px; height: 540px; font-size: 40px; line-height: 45px; position: absolute; right: 280px; bottom: 985px;} 

.mainimg{width:630px; height: 380px;}
#lineimg{margin-top: 50px; display: flex;}
#lineimg img{width: 150px;padding: 5px; cursor: pointer;}

.STackRight-2 { width:630px; height: 540px; font-size: 40px; line-height: 45px; position: absolute; right: 280px; bottom: 325px;} 

.mainimg-2{width:630px; height: 380px;}
#lineimg-2{margin-top: 50px; display: flex; }
#lineimg-2 img{width: 150px;padding: 5px; cursor: pointer;}





.ImgBox1 { position: absolute; bottom: 260px;  } 
.ImgBox1 img {display: inline-block;  padding: 10px; width: 90px; height: 100px; filter: grayscale(100%);transition: 0.5s; justify-content: center;cursor: pointer;} 
.ImgBox1 img:hover { transition: 0.5s; filter: grayscale(0);} 



.page3 { height: 1600px; display: flex; justify-content: center; overflow-y: hidden; color: white; } 
.page3 p { font-size: 20px; color: white; } 



.Left5 { width: 295px; height: 220px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; } 
.Slogun { font-size: 100px; font-weight: 700; } 
#SlogunSub { font-size: 40px; font-weight: 300; position: absolute; bottom: 75px; } 
.Right5 { width: 580px; height: 250px; display: flex; justify-content: flex-start; align-items: center; padding: 50px; } 
.TextBox5 { margin-left: 300px; display: flex; justify-content: center; position: absolute; top: 0px;} 


.Left6 { width: 295px; height: 220px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; } 
.Right6 {width: 600px; height: 250px; display: flex; justify-content: flex-start; align-items: center; padding: 50px; } 
.TextBox6 {margin-left: 320px;display: flex; justify-content: center; position: absolute; top: 300px; } 


.Left7 { width: 295px; height: 220px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; } 
.Right7 {width: 600px; height: 250px; display: flex; justify-content: flex-start; align-items: center; padding: 50px; } 
.TextBox7 {margin-left: 320px;display: flex; justify-content: center; position: absolute; top: 600px; } 

.Left8 { width: 295px; height: 220px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; } 
.Right8 {width: 610px; height: 250px; display: flex; justify-content: flex-start; align-items: center; padding: 50px; } 
.TextBox8 {margin-left: 330px;display: flex; justify-content: center; position: absolute; top:900px; } 

.Left9 { width: 295px; height: 220px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; } 

.Right9 { width: 580px; height: 250px; display: flex; justify-content: flex-start; align-items: center; padding: 50px; } 

.TextBox9 {margin-left: 330px;display: flex; justify-content: center; position: absolute; top: 1200px; } 



@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.slide-up {
    animation: slide-up 2s forwards;
}


.TextBox1, .TextBox2, .TextBox3, .TextBox4, .TextBox5, .TextBox6, .TextBox7, .TextBox8, .TextBox9 {
    opacity: 0;
}

