
* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
/* PC */
section {width: 1920px; height: 1080px; position:relative; overflow-y: hidden; overflow-x: hidden; } 
#mainvideo {width: 100%;height: 100%; position: relative; } 
video{width: 100%;height: 100%;}
#blur { position: absolute; width: 100%; height: 20%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)); bottom: 0; } 
#bold { font-weight: 700; } 

@keyframes moveUpDown { 0%, 100% { bottom: 10%; } 50% { bottom: 25%; } 
 } 
#blur img { width: 7%; position: absolute; left:47%;  transition: transform 0.5s ease-in-out; animation: moveUpDown 2s ease-in-out infinite; } 

.page1 {width: 100%; display: flex; justify-content: center; overflow-y: hidden; } 
.page1 img { position: absolute; top: 35%;} 
.page1 p { font-size: 1.5em; color: white; } 
.Left1 { width: 50%; height: 380px; text-align: right; padding: 0 50px; line-height: 45px; } 
.Right1 { width: 50%; height: 380px; text-align: left; padding: 0 50px; line-height: 45px; } 
.TextBox1 {width: 100%; display: flex; position: absolute; bottom: 0; font-weight: 300; } 

.page2 {width: 100%;height: 1500px; display: flex; justify-content: center; overflow-y: hidden; position: relative; } 
.page2 p { color: white; } 
.Left2 { width: 50%; height: 380px; padding: 0 50px; display: flex; justify-content: flex-end; align-items: center; font-size: 3em; color: white; } 
.Right2 { width: 50%; height: 420px; display: flex; justify-content: flex-start; align-items: center; padding: 0 50px; font-size: 1.3em; } 
#study { font-size: 0.7em; position: absolute; bottom:100px; } 
#study2 { font-size: 0.7em; position: absolute; padding-top: 130px; } 
.TextBox2 {width: 100%; display: flex; position: absolute; top: 40px; } 


.Left3 {width: 50%; height: 380px; padding: 0 50px; display: flex; justify-content: flex-end; align-items: center; font-size: 3em; } 
.Right3 { width: 50%; height: 380px; display: flex; justify-content: flex-start; align-items: center; padding: 0 50px; font-size: 1em; } 
.TextBox3 {width: 100%; display: flex; position: absolute; top: 340px; } 


.Left4 { width: 50%; height: 380px; padding: 50px; display: flex; justify-content: flex-end; align-items: center; font-size: 1.5em; } 
.Right4 { width: 50%; height: 380px; display: flex; justify-content: flex-start; align-items: center; padding: 25px 50px; font-size: 1.2em; } 
.TextBox4 {width: 100%; display: flex; position: absolute; top: 600px; } 

.stackpage {width: 100%; height: 1680px; position: relative; } 

#bold1 {font-weight: 700; position: absolute; color: white; font-size: 2em; left: 10.4%;} 

.STack {width: 100%; height: auto; color: white;padding-left: 10.4%;padding-top: 1%;} 

.STackLeft {width: 36%; height: auto; line-height: 45px; position: relative; } 
.stackOne {width: 100%; display: flex; padding-top: 100px; } 
.stackOne img { width: 100%; height: auto; } 
.stacktext { padding-left: 50px; width: 100%; padding-top: 20px; font-size: 1em; line-height: 2.3em; } 

#list {font-size: 0.75em; line-height: 45px; padding-top: 40px; } 

.STackRight { width:45%;height: 540px; font-size: 40px; line-height: 45px; position: absolute;  top: 5%; right: 2%; } 
.mainimg { width:80%; height: auto; } 
.mainimg img{width: 100%;}
#lineimg { width:95%;display: flex; } 
#lineimg img { width: 20%; padding: 5px; cursor: pointer; } 


.STackLeft-2 { width: 100%; height: auto; font-size: 20px; line-height: 2em; position: absolute; top: 885px;padding-left: 10.4%; padding-top: 5%;} 
.stackTwo { width: 36%;display: flex; } 
.stackTwo img { width: 80%;height: auto;} 
.stacktext_2 { padding-left: 60px; padding-top: 50px; width: 100%; font-size: 1em; line-height: 45px; } 

.STackRight-2 { width:45%;height: 540px;  font-size: 40px; line-height: 45px; position: absolute; right: 3%; bottom: 15%; } 
.mainimg-2 { width:80%; height: auto; } 
.mainimg-2 img{width: 100%;}
#lineimg-2 { width:95%; display: flex;} 
#lineimg-2 img { width: 20%; padding: 5px; cursor: pointer; } 

/* height : 1500 */
.ImgBox1 {width: 40%; height: 10%; position: absolute;left: 33%; bottom: 17%; } 
.ImgBox1 img { display: inline-block; padding:0.5% 1% 0.5% 1%  ; filter: grayscale(100%); transition: 0.5s; justify-content: center; cursor: pointer; } 
.ImgBox1 img:hover { transition: 0.5s; filter: grayscale(0); } 


.page3 {width: 100%; height: 1600px; display: flex; justify-content: center; overflow-y: hidden; color: white; } 
.page3 p { font-size: 1em; color: white; } 

.Slogun { font-size: 5em; font-weight: 700; } 
#SlogunSub { font-size: 2em; font-weight: 300; position: absolute; bottom: 48%; } 
.Left5 { width: 15%; height: 13.75%; padding: 2.6% 2.6% 0 2.6%; display: flex; justify-content: flex-end; align-items: center; } 
.Right5 { width: 30%; height: 13.75%;; display: flex; justify-content: flex-start; align-items: center; padding: 4.5% 2.6% 0 2.6%; } 
.TextBox5 {width: 100%;height: 21.875%; padding-left: 15.625%; display: flex; justify-content: center; position: absolute; top: 0; } 


.Left6 {width: 15%; height: 13.75%; padding: 2.6% 2.6% 0 2.6%; display: flex; justify-content: flex-end; align-items: center;  } 
.Right6 { width: 31.25%; height: 13.75%; display: flex; justify-content: flex-start; align-items: center; padding: 4.5% 2.6% 0 2.6%; } 
.TextBox6 { width: 100%;height: 21.875%; padding-left: 15.625%; display: flex; justify-content: center; position: absolute; top: 20%; } 


.Left7 { width: 15%; height: 13.75%; padding: 2.6% 2.6% 0 2.6%; display: flex; justify-content: flex-end; align-items: center; } 
.Right7 { width: 31.25%; height: 13.75%; display: flex; justify-content: flex-start; align-items: center; padding: 4.5% 2.6% 0 2.6%;  } 
.TextBox7 {  width: 100%;height: 21.875%; padding-left: 15.625%; display: flex; justify-content: center; position: absolute; top: 40%; } 


.Left8 { width: 15%; height: 13.75%; padding: 2.6% 2.6% 0 2.6%; display: flex; justify-content: flex-end; align-items: center; } 
.Right8 { width: 31.25%; height: 13.75%; display: flex; justify-content: flex-start; align-items: center; padding: 4.5% 2.6% 0 2.6%;  } 
.TextBox8 {  width: 100%;height: 21.875%; padding-left: 15.625%; display: flex; justify-content: center; position: absolute; top: 60%; } 


.Left9 { width: 15%; height: 13.75%; padding: 2.6% 2.6% 0 2.6%; display: flex; justify-content: flex-end; align-items: center; } 
.Right9 { width: 31.25%; height: 13.75%; display: flex; justify-content: flex-start; align-items: center; padding: 4.5% 2.6% 0 2.6%;  } 
.TextBox9 {  width: 100%;height: 21.875%; padding-left: 15.625%; display: flex; justify-content: center; position: absolute; top: 80%; } 


@keyframes slide-up { 
 0% { transform: translateY(100px); opacity: 0; } 100% { transform: translateY(0); opacity: 1; } 
 } 
.slide-up { animation: slide-up 2s forwards; } 
.TextBox1, .TextBox2, .TextBox3, .TextBox4, .TextBox5, .TextBox6, .TextBox7, .TextBox8, .TextBox9 { opacity: 0; } 




@media all and (min-width: 1930px){
    #blur img { width: 10%;left:44%;} 

    .page1 img {width: 15%;} 
    .page1 p { font-size: 1.7em;} 
    .Left1 {line-height: 1.5em; } 
    .Right1 {line-height: 1.5em;} 
    .page2 p { color: white; } 
    .Left2 {font-size: 4em; color: white; } 
    .Right2 {font-size: 1.5em; } 
    #study { font-size: 0.9em; position: absolute; bottom:100px; } 
    #study2 { font-size: 0.9em; position: absolute; padding-top: 130px; } 
    .Left3 {font-size: 4em; } 
    .Right3 {font-size: 1.3em; } 
    .Left4 {font-size: 2.25em; } 
    .Right4 {font-size: 1.5em; } 
    #bold1 {font-size: 3em; left: 12.5%;} 
    .STack {width: 100%; height: auto; color: white;padding-left: 10.4%;padding-top: 1%;} 

    .STackLeft {line-height: 1em; left: 2%;} 
    .stackOne {padding-top: 15%; } 
    .stackOne img{width: 100%;}
    .stacktext { padding-left: 10%; font-size: 1.3em; line-height: 2.3em; } 
    #list {font-size: 1.1em; line-height: 2.2em;} 
    


    /* 여기서부터 다시 진행 */
    .STackRight {width: 40%; position: absolute;  top: 5%; right: 7.5%; } 
    .mainimg { width:83.5%;} 
    .mainimg img{width: 100%;}
    #lineimg { width:100%;} 
    #lineimg img { width: 20%;} 


    .STackLeft-2 { line-height: 1em; left: 2%;} 
    .stackTwo img { width: 100%;} 
    .stacktext_2 { padding-left: 10%; font-size: 1.3em; line-height: 2.3em; } 

    .STackRight-2 { width: 40%;height: 540px;  font-size: 40px; line-height: 45px; position: absolute;  right: 7.5%;  bottom: 13%; } 
    .mainimg-2 { width:83.5%;} 
    .mainimg-2 img{width: 100%;}
    #lineimg-2 { width: 100%;} 
    #lineimg-2 img {  width: 20%;} 

    /* height : 1500 */
    .ImgBox1 {left: 33%;} 
    .ImgBox1 img { width: 12%; } 
    .ImgBox1 img:hover { transition: 0.5s; filter: grayscale(0); } 


    .page3 p { font-size: 1.2em;}
    .Slogun { font-size: 6em;} 
    #SlogunSub { font-size: 1.8em;bottom: 36%; } 
}