section{width: 1920px; height: 1080px; color: white; position: relative;}
#mainSlogun{font-size: 80px; font-weight: 400;position: absolute; top: 290px; left: 355px;}
#bold{font-weight: 700;}
#name{font-size: 80px; font-weight: 400;position: absolute; top: 605px; left: 1000px;}
#contact{font-size: 40px;font-weight: 400;position: absolute; top: 780px; left: 1000px; line-height: 80px;}
#ProFile{position: absolute; top: 480px;left: 400px; width: 450px;}