/* p { color: white; } 
.Thumbnail {width: 1920px; height: 1080px; position: relative; } 
.Thumbnail video{width: 1920px; height: 1080px; position: absolute; }
.TextBox { width: 1920px; height: 1080px; position: absolute; background-color: rgba(0, 0, 0, 0.75);} 
#Logo { position: absolute; top: 180px; left: 455px; } 
#LogoText {width: 700px; font-size: 150px; font-weight: 700; position: absolute; top: 240px; left: 905px; } 
#LogoSubText { width: 800px; height: 280px; text-align: center; font-size: 20px; position: absolute; top: 600px; left:560px; line-height: 45px;} 
#Verify{width: 130px;top: 420px; left:1390px;font-size: 50px;position: absolute; }
.bold { font-weight: 700; } 
.ObjectTap { width: 1920px; height: 750px; position: relative; top: 180px; } 
.Object { display: flex;justify-content: center; } 
.Object img { width: 340px; height: 420px; padding: 0 15px 0 15px; transition: 0.5s; } 

.Object > div { position: relative; display: inline-block; } 
.Object > div .hoverBox { position: absolute; top: 0; left: 0; width: 340px; height: 420px; background: rgba(0,0,0,0.5); color: white; display: flex; justify-content: center; align-items: center; opacity: 0; transition: opacity 0.5s;  padding: 0 15px 0 15px;} 
.Object > div:hover .hoverBox { opacity: 1; } 
.Object > div:hover img { filter: blur(3px); } 
img { transition: filter 0.5s; } 
#Hsub { font-size: 40px; position: absolute; top: 210px; font-weight: 700;} 

.warming { position: relative; width: 1920px;height: 1080px; background-image: url(../Img/Hakdo/배경.png); background-size: cover; } 
#imgblur{width: 1920px;height: 1080px; background-color:rgba(0, 0, 0, 0.5);position: absolute;}
#warming { width: 1920px; height: 250px; font-size: 60px; line-height: 45px; display: flex; justify-content: center;position: absolute; font-weight: 700; top: 400px;} 
.warmingsub {width: 1920px; font-size: 20px; text-align: center; top: 450px;padding-top: 100px;position: absolute; line-height: 45px; font-weight: 400;} 
.warmingsub p {padding-top: 50px;}
#red{color: red;}

.Video { width: 1920px; height: 1080px; display: flex; justify-content: center; align-items: center; } 
video { width: 1280px; height: 720px; } 

.Review { width: 1920px; height: 1080px; display: flex; justify-content: center; align-items: flex-start; position: relative; color: white;} 
.Review h3{  position: absolute; }

#PlayScreen {width: 1080px; height: 720px; border-radius: 120px; border: 5px solid #FFF; position: absolute; overflow: hidden; top: 150px;} 
#Slider { display: flex; transition: transform 0.5s ease-in-out; }
#PlayScreen img { width: 1080px; }
.Buttons { width: 1620px; height: 850px; display: flex; justify-content: space-between; }
#LeftButton{position: absolute; left: 150px; top: 535px; display: none;}
#RightButton{position: absolute; right: 150px; top: 535px;}
#LeftButton, #RightButton { background-color: #ffffff00; border: none; cursor: pointer; } 

@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.slide-up {
    animation: slide-up 2s forwards;
}


#Logo, p{
    opacity: 0;
}
.ObjectTap p,header p {opacity: 100%;} */

p { color: white; } 
.Thumbnail {width: 100%; height: 100vh; position: relative; } 
.Thumbnail video{width: 100%; height: 100vh; position: absolute; }
.TextBox {width: 100%; height: 100vh; position: absolute; background-color: rgba(0, 0, 0, 0.75);} 
#Logo { position: absolute; top: 16.6%; left: 23.7%; } 
#LogoText {width: 36.45%;font-size: 7.5em; font-weight: 700; position: absolute; top: 22.22%; left: 47.13%; } 
#LogoSubText { width: 41.66%; height: 25.92%; text-align: center; font-size: 1em; position: absolute; top: 60%; left:30%; line-height: 2.25em;} 
#Verify{width: 6.77%;top: 38.88%; left:72%;font-size: 2.25em;position: absolute; }
#bold { font-weight: 700;font-size: 3em; } 
.ObjectTap { width: 100%; height: 69%; position: relative; top: 16.66%; } 
.Object { display: flex; justify-content: center; } 
.Object img { width: 90%; height: 100%; padding: 0 0.7% 0 0.7%; transition: 0.5s; } 

.Object > div { position: relative; display: inline-block; } 
.Object > div .hoverBox { position: absolute; top: 0; left: 0; width: 90%; height: 100%; background: rgba(0,0,0,0.5); color: white; display: flex; justify-content: center; align-items: center; opacity: 0; transition: opacity 0.5s;  padding: 0 0.7% 0 0.7%;} 
.Object > div:hover .hoverBox { opacity: 1; } 
.Object > div:hover img { filter: blur(3px); } 
img { transition: filter 0.5s; } 
#Hsub { font-size: 2em; position: absolute; top: 45%; font-weight: 700;} 

.warming { position: relative; width: 100%; height: 100vh; background-image: url(../Img/Hakdo/배경.png); background-size: cover; } 
#imgblur{width: 100%; height: 100vh; background-color:rgba(0, 0, 0, 0.5);position: absolute;}
#warming { width: 100%; height: 23.1%; font-size: 3em; line-height: 2.25em; display: flex; justify-content: center;position: absolute; font-weight: 700; top: 26%;} 
.warmingsub {width: 100%; font-size: 1.25em; text-align: center; top: 37%;padding-top: 4.5%;position: absolute; line-height: 2.25em; font-weight: 400;} 
.warmingsub p {padding-top: 2.5%;}

.Video { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; padding-bottom: 10%; } 
video { width: 73%; height: 97.2%; } 

.Review { width: 100%; height: 100%; display: flex; justify-content: center; align-items: flex-start; position: relative; color: white;} 
.Review h3{  position: absolute; }

#PlayScreen {width: 56.25%; height: 66.66%; border-radius: 120px; border: 5px solid #FFF; position: absolute; overflow: hidden; top: 20%;} 
#Slider { display: flex; transition: transform 0.5s ease-in-out; }
#PlayScreen img { width: 1080px; }
.Buttons { width: 83.47%; height: 78.7%; display: flex; justify-content: space-between; }
#LeftButton{position: absolute; left: 7.8125%; top: 49.5%; display: none;}
#RightButton{position: absolute; right: 7.8125%; top: 49.5%;}
#LeftButton, #RightButton { background-color: #ffffff00; border: none; cursor: pointer; } 

@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.slide-up {
    animation: slide-up 2s forwards;
}


#Logo, p{
    opacity: 0;
}
.ObjectTap p,header p {opacity: 100%;}



@media all and (min-width: 1930px){
    #Logo { position: absolute; top: 30.5%; left: 30% ;} 
    #LogoText {font-size: 9em; top: 33%; left: 48%; } 
    #LogoSubText {font-size: 1.5em;} 
    #Verify{width: 6.77%;top: 48%; left:71%; }

    .Object {justify-content:grid; gap: 5%; } 
    .Object img { width: 110%;} 
    .Object > div .hoverBox { width: 110%} 

    #warming {font-size: 4em; line-height: 2.25em;} 
    .warmingsub {font-size: 2em; } 
    #PlayScreen {width: 42.18%; height: 50%; top: 20%; } 
    #LeftButton{top: 40%;}
    #RightButton{ top: 40%;}
}






